/* Hairline */
@font-face {
    font-family: 'Hero New';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Hero New Hairline.otf") format("opentype");
}

@font-face {
    font-family: 'Hero New';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url("/fonts/Hero New Hairline Italic.otf") format("opentype");
}

/* Thin */
@font-face {
    font-family: 'Hero New';
    font-style: normal;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/Hero New Thin.otf") format("opentype");
}

@font-face {
    font-family: 'Hero New';
    font-style: italic;
    font-weight: 200;
    font-display: swap;
    src: url("/fonts/Hero New Thin Italic.otf") format("opentype");
}

/* UltraLight */
@font-face {
    font-family: 'Hero New';
    font-style: normal;
    font-weight: 250;
    font-display: swap;
    src: url("/fonts/Hero New UltraLight.otf") format("opentype");
}

@font-face {
    font-family: 'Hero New';
    font-style: italic;
    font-weight: 250;
    font-display: swap;
    src: url("/fonts/Hero New UltraLight Italic.otf") format("opentype");
}

/* Light */
@font-face {
    font-family: 'Hero New';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Hero New Light.otf") format("opentype");
}

@font-face {
    font-family: 'Hero New';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url("/fonts/Hero New Light Italic.otf") format("opentype");
}

/* Regular */
@font-face {
    font-family: 'Hero New';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Hero New Regular.otf") format("opentype");
}

@font-face {
    font-family: 'Hero New';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url("/fonts/Hero New Regular Italic.otf") format("opentype");
}

/* Medium */
@font-face {
    font-family: 'Hero New';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Hero New Medium.otf") format("opentype");
}

@font-face {
    font-family: 'Hero New';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url("/fonts/Hero New Medium Italic.otf") format("opentype");
}

/* SemiBold */
@font-face {
    font-family: 'Hero New';
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Hero New SemiBold.otf") format("opentype");
}

@font-face {
    font-family: 'Hero New';
    font-style: italic;
    font-weight: 600;
    font-display: swap;
    src: url("/fonts/Hero New SemiBold Italic.otf") format("opentype");
}

/* Bold */
@font-face {
    font-family: 'Hero New';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Hero New Bold.otf") format("opentype");
}

@font-face {
    font-family: 'Hero New';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url("/fonts/Hero New Bold Italic.otf") format("opentype");
}

/* ExtraBold */
@font-face {
    font-family: 'Hero New';
    font-style: normal;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Hero New ExtraBold.otf") format("opentype");
}

@font-face {
    font-family: 'Hero New';
    font-style: italic;
    font-weight: 800;
    font-display: swap;
    src: url("/fonts/Hero New ExtraBold Italic.otf") format("opentype");
}

/* Super */
@font-face {
    font-family: 'Hero New';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Hero New Super.otf") format("opentype");
}

@font-face {
    font-family: 'Hero New';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url("/fonts/Hero New Super Italic.otf") format("opentype");
}